{% filter indent(width=4, first=true) %}
          =======================================================================================

          Hostname: {{ ansible_facts['hostname'] }}  fqdn: {{ fqdn_info.stdout }}

          =======================================================================================

          Alamat IP: {{ ansible_facts['default_ipv4']['address'] }}

          =======================================================================================

          Waktu Aktif: {{ uptime_info.stdout }}

          =======================================================================================

          Versi Kernel: {{ kernel_info.stdout }}

          =======================================================================================

          Penggunaan Memori:

          {{ memory_info.stdout }}

          =======================================================================================

          Kapasitas Disk:

          {{ disksize_info.stdout}}

          ======================================================================================

          Penggunaan Disk:

          {{ disk_info.stdout }}

          =======================================================================================
          {% endfilter %}

